extends layout

block content
  if showHelp
    p Welcome! This page renders a dynamic list below.

  if items && items.length
    ul
      each item in items
        li #{item.text}
  else
    p No items found.
